<h3>
	#Configuring Project
</h3>
<blockquote>
	<ul>
		<li>Check out the appsettings.json</li>
		<li>replace the various settings with your own settings, and dependency injection will handle the rest.</li>
	</ul>
</blockquote>
