<h3>
	#Exposed Endpoints
</h3>
<div class ="container-fluid">
	<partial name="_SearchLocationsByKeyword.cshtml" />
	<partial name="_GetImageListByLocationId.cshtml" />
	<partial name="_GetImageDetail.cshtml" />
</div>