<h4><b>/ImageDetail/GetImageDetail?</b></h4>
<blockquote>
	<ul>
		<li>
			parmas<br />
			flickrPhotoId eg. ?flockrPhotoId=8695808553<br />
			flickrPhotoId would be the key from one of the returned results in the previous request.
		</li>
		<li>
			Description<br />
			To get the image information based on the key retrieved from the previous request. This is watered down and flattened into a reasonable format.
		</li>
		<li>
			Result<br />
<pre>
{
	"photoDetailId": 3,
	"flickrPhotoId": 40942324990,
	"secret": "826c294b0b",
	"server": 880,
	"farm": 1,
	"dateUploaded": null,
	"isFavorite": false,
	"license": 0,
	"rotation": 0,
	"originalSecret": "08a3f958e0",
	"originalFormat": "jpg",
	"views": 17,
	"title": "YONE8573",
	"decription": "",
	"media": "photo"
}
</pre>
		</li>
	</ul>
</blockquote>