<h3> #LandMarkApi</h3>
<blockquote>
	<p>
		In order to run this application you need to have the latest Visual Studio installed or atleast the sdk for dotnet core 2.1<br />
		Additionally you will also need to get the osbscure packages for DotNetCore App 2.1.0-preview1-final<br />
		Ensure that you have the entity framework CLI installed.<br />
		Before the project will work, allow the code first migrations to run.
	</p>
</blockquote>