<h4><b>/ListLocations/SearchLocationsBYKeyword?</b></h4>
<blockquote>
	<ul>
		<li>
			<p>
				Params<br />
				where(string) eg. ?where=germany
			</p>
		</li>
		<li>
			<p>
				description<br />
				To get a list of locations, we will hit the flicker server and request locations around a certain keyword. This logic is at the mercy of the tags being used by flickr.
			</p>
		</li>
		<li>
			<p>
				Result<br />
<pre>
{
	"nz.gsghTUb4c2WAecA": "USA",
	"6iR08ndQU7sKvZ4I": "Usa, Oita Prefecture, Japan",
	"RhRwAGpTWrkeWlBLWA": "Awa-shi, Tokushima Prefecture, Japan",
	"zEO6RdNTWr7plXg.rQ": "Usa, Japan",
	"nCrUgyZZUbhWobg": "Usa, Minskaya Voblasts', Belarus",
	"45mR65RYUrxIg3QovA": "Уса, Kemerovo Oblast, Russia",
	"uq012LtYUr.xq1Yepg": "Уса, Kirov Oblast, Russia",
	"hPmOjt1YUr96LI5MKQ": "Уса, Komi Republic, Russia",
	"sHBZQ69TWrnj2GoYww": "Usa, South Sulawesi, Indonesia",
	"_T0gX45TVr_XwARs": "Mobile, Alabama, United States",
	"nRsMTC1UV7PmWRPnXA": "USA, Mobile, AL, United States",
	"W8E8CXpYUry7GP8.GQ": "Уса, Bashkortostan Republic, Russia",
	"tu6aqXxWU7JLNN0": "Miramare, Emilia Romagna, Italy",
	"EMo2gYtTUb7oiO66": "Texas, United States",
	"h7eZVDlTUb50Btij9Q": "Germany",
	"5pzQtV1TVrpPz8Iy": "Germany, New Florence, PA, United States",
	"yb1OdHZTVroSPYB.": "Germany, Clayton, GA, United States",
	"UUU.pnpTUb7KHEfH": "Ohio, United States",
	"8M8WMPxUV7KD2._AMw": "Germany, United States",
	"4PwpnylUVLwxPyRCUw": "Germany, New Brunswick, Canada"
}
</pre>
			</p>

		</li>
	</ul>
</blockquote>
