
<form asp-action="KeyowrdPartial" asp-controller="ListLocations" data-ajax="true" data-ajax-method="POST">
	<div class="row">
		<label class="control-label col-sm-4">Keyword : </label>
		<div class="col-sm-8">
			<input type="input" name="where" value="" class="form-control" />
		</div>
	</div>
	
	<button type="submit" class="btn btn-primary">Submit</button>

</form>