<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4">Welcome to the Landmark API, @Model.Name</h1>
		<p class="lead">This is to confirm that you have successfully logged in and can now browse through various landmark images with their details!</p>
	</div>
</div>